<h1>Listing Restaurants</h1>
<% if @restaurants.present? %>
	<table class="table">
  	<thead>
  		<tr>
  			<th>Name</th>	
  		</tr>
  	</thead>
  	<tbody>
  		<% @restaurants.each do |res| %>
  			<tr>
          <td><%= image_tag res.photo_url%></td>
  				<td><%= res.name %></td>
  			</tr>
  		<% end %>

  	</tbody>
  </table>
  <% end %>
