@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 150px;
  background-image: url("food.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

label{
  text-align: left;
  display: block
}